.cepInputs {
  margin: 50px 80px;
  padding: 15px 0px;
  background-color: #5b9bd5;
  display: block;
}

.cepInputs input {
  display: block;
  margin: 20px 50px;
  height: 30px;
  width: 340px;
}

.calcular {
  background-color: green;
  width: 340px;
  height: 50px;
  margin: 20px 50px;
  border: none;
}

.results {
  margin-left: 60px;
  margin-bottom: 20px;
}

.header-description {
  margin: 50px 80px;
}

.header-description p {
  margin-top: 50px;
}
